@model Store

@{
    ViewData["Title"] = "Add new Store";
}
<body class="drip">
<div class="row text">
    <div class="col-md-8 offset-2 Cover">
        <p>
            <h4>Add a new Brand</h4>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group text-center">
                        <img id="StoreGlyphPreview"  class="border-info rounded-circle" style="max-width: 150px" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Glyph" class="control-label"></label>
                        <input asp-for="Glyph" class="form-control" type = "file" />
                        @*<span asp-validation-for="Glyph" class="text-danger"></span>*@
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn  btn-success-pink-2 float-right" />
                        <a class="btn btn-outline-primary" asp-action="Index">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

@*@section Scripts{ 
    <script>

        $(document).ready(function () {
            var output = document.getElementById('StoreGlyphPreview');
            output.src = $("#Glyph").val();
        })

        $("#Glyph").on("change", function () {
            var output = document.getElementById('StoreGlyphPreview');
            output.src = $(this).val();
        })
    </script>
}*@