@{
    ViewData["Title"] = "Home Page";
}


<body class="welcome">




    
  <div class="container">
    <div class="row text-left text-white">
      <div class="col-6 my-auto">
        <h1 class="font-tertiary">Welcome  </h1>
  <h1> To Drippyz </h1>

  <p>Drippyz is an Irish owned eccomerce site for Ice cream brands and products</p>
    <p>Select the button below to view our products.</p>

    <a class="btn btn-outline-index"  asp-controller="Products" asp-action="Index">Products</a>
      </div>
      <div class="col-6 mobile-img">
        <img  src="~/images/pink-bg.png"  class="img-fluid" alt="mobile screen">
      </div>

    </div>
  </div>
</body>








