html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*new styling*/
/*navigation styling*/

h4 {
    color: #FD3373;
}

.Hotpink {
    background-color: #FD3373;
    color: #fff;
}

input.search {
    padding-bottom: 7px;
    border-radius: 6px;
}

/*card and button styling*/

div.card-body {
    text-align: center;
}

.card {
    border-radius: 1rem;
    box-shadow: 15px 10px 17px -5px rgba(167, 161, 161, 0.5);
    -webkit-box-shadow: 15px 10px 17px -5px rgba(167, 161, 161, 0.5);
}

.card-footer {
    padding: .5rem 1rem;
    background-color: #fff;
    border-top: 0px;
    border-radius: 0 0 calc(.1rem- 1px) calc(1rem - 1px);
}


h5.card-title {
    color: #FD3373;
    text-align: center;
}

.bg-info{
    background-color:#fff !important;
}
.card-header {
    background-color: #fff;
    border-bottom: 0px;
    border-radius: calc(1rem - 1px) calc(1rem - 1px) 0 0;
}


.btn-success-pink-2{
    color: #fff;
    background-color: #FF3474;
    border-color: #FF3474;
    -webkit-box-shadow: 15px 10px 17px -5px rgba(167, 161, 161, 0.5);
}

    .btn-success-pink-2:hover {
        color: #fff;
        background-color: #FFA5C4;
        border-color: #FFA5C4;
        -webkit-box-shadow: 15px 10px 17px -5px rgba(167, 161, 161, 0.5);
    }

    .btn-success-pink-2:focus {
        color: #fff;
        background-color: #FFA5C4;
        border-color: #FFA5C4;
        -webkit-box-shadow: 15px 10px 17px -5px rgba(167, 161, 161, 0.5);
    }

.bi-pencil-square {
    color: #FD3373;
}

.btn-outline-primary {
    color: #FF3474;
    border-color: #FF3474;
}

    .btn-outline-primary:hover {
        color: #fff;
        background-color: #FFA5C4;
        border: #FFA5C4;
    }

    .btn-outline-primary:focus {
        color: #fff;
        background-color: #FFA5C4;
        border: #FFA5C4;
    }



/*Home page*/

body.welcome {
    background-color: #FD3373;
}


body.drip {
    /*background-images: url("../images/drip_bggg.png");
       // background-size: cover;*/
    background-repeat: no-repeat;
    background-color: #ffdfe9;
    /*background-blend-mode: lighten;*/
}


/*Home page */

@media (min-width: 1200px) {
    .h1, h1 {
        font-size: 4.5rem;
    }
}

.btn-outline-info:hover {
    color: #ffffff;
}

/*
.bi - cart - plus::before {
    content: "\f23f";
    background-color: #ffffff;
    color: FF3474;
}*/

/*table {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 15px 10px 17px -5px rgba(167, 161, 161, 0.5);
    -webkit-box-shadow: 15px 10px 17px -5px rgba(167, 161, 161, 0.5);
}*/

th {
    color: #FF3474;
}

.Cover {
    background-color: #ffffff;
    padding-bottom: 42px;
    border-radius: 16px;
    box-shadow: 15px 10px 17px -5px rgba(167, 161, 161, 0.5);
    -webkit-box-shadow: 15px 10px 17px -5px rgba(167, 161, 161, 0.5);
}

.form-control{
    margin-bottom:10px;
}

.BPink {
    background-color: #fedce6;
}

.btn-outline-index {
    color: #fff;
    background-color: #FFA5C4;
    border: #FFA5C4;
}

    .btn-outline-index:hover {
        color: #fff;
        background-color: #ffc0cb;
        border: #ffc0cb;
    }

    .btn-outline-index:focus {
        color: #fff;
        background-color: #ffc0cb;
        border: #ffc0cb;
    }
